@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-ubuntu text-lg;
}

body {
  @apply bg-[#364F60] h-screen w-screen bg-cover bg-center bg-[url('https://images.pexels.com/photos/1755683/pexels-photo-1755683.jpeg?cs=srgb&dl=pexels-guilherme-rossi-1755683.jpg&fm=jpg&w=1920&h=2560')];
}

main {
  @apply h-[86vh] w-screen overflow-auto flex;
}

nav {
  @apply h-[8vh] w-screen flex justify-normal;
}

footer {
  @apply h-[6vh] w-screen flex justify-center items-center;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
